body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.table-container { 
  overflow: auto;
}

.mat-table {
  width: 100%;
  overflow: auto;
}

th.mat-header-cell{  
  padding: 8px 30px 8px 20px;
}
.mat-cell {
  padding: 8px 30px 8px 20px;
}
tr.mat-footer-row,
tr.mat-row {
  border: 1px solid #e7e7e7;
  font-weight: bold;
  height: 20px !important;
}
.mat-row:nth-child(even){
  background-color:#FFFFFF;
}

.mat-row:nth-child(odd){
  background-color:#f8f8f8;
}
.mat-row:hover {
  background-color: #eaeaea;
}
.mat-column-planta {  
  word-wrap:auto !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 48% !important;
  overflow-wrap: auto;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-linha {  
  word-wrap:auto !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 18% !important;
  overflow-wrap: auto;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  max-width: 160px;
}
.mat-column-descLinha {  
  word-wrap:auto !important;
  white-space: unset !important;
  flex: 0 0 68% !important;
  width: 1280px;
  overflow-wrap: auto;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-opcoes {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}