<div class="container">
  <div class="container-fluid">

    <mat-card class="card">

      <mat-card-header>
        <mat-card-title>PLC</mat-card-title>
        <mat-card-subtitle>Cadastro de PLCs</mat-card-subtitle>
      </mat-card-header> 

      <mat-card-content>

        <form [formGroup]="registerForm">

          <div class="form-row">
            <div class="form-group col-md-12">
              <h5>Dados dos PLC</h5>
            </div> 
            <div class="form-group col-md-12">              
              <hr class="style1">
            </div>  
          </div>

          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="">Configurações ID</label>
              <div class="form-group input-group mb-2">
                <input type="text" class="form-control" placeholder="Id" readonly formControlName="configuracaoId"
                [ngClass]="{'is-invalid': registerForm.get('configuracaoId').errors && registerForm.get('configuracaoId').touched}">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-primary" type="button" id="pesquisarConf" (click)="openModal(templateConfig)">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="">Planta</label>
              <input type="text" class="form-control" readonly placeholder="Planta" 
              formControlName="planta"
              [ngClass]="{'is-invalid': registerForm.get('planta').errors && registerForm.get('planta').touched}">
            </div>

            <div class="form-group col-md-4">
              <label for="">Linha</label>
              <input type="text" class="form-control" readonly placeholder="Linha" [(ngModel)] = "deviceIGS.linha"
              formControlName="linha">
            </div>
            <div class="form-group col-md-2">
              <label for="">Sigla</label>
              <input type="text" class="form-control" readonly placeholder="Sigla" 
              formControlName="sigla">
            </div>  
          </div>
        
          <div class="form-row">
            <div class="form-group col-md-12">
              <h5>Dados gerais</h5>
            </div>   
            <div class="form-group col-md-12">              
              <hr class="style1">
            </div>
          </div>
        
          <div class="form-row">

            <div class="form-group col-md-2">
              <label for="">Validação Smart TAG</label>
              <input type="text" class="form-control" formControlName="validSmartTag"
              [ngClass]="{'is-invalid': registerForm.get('validSmartTag').errors && registerForm.get('validSmartTag').touched}"/>
              <div *ngIf="registerForm.get('validSmartTag').hasError('required')" class="invalid-feedback">
                Validação Smart TAG <strong>obrigatório</strong>
              </div>
              <div *ngIf="registerForm.get('validSmartTag').hasError('minlength') && registerForm.get('validSmartTag').touched" class="invalid-feedback">
                Mínimo de <strong>2 caracteres</strong>
              </div>
              <div *ngIf="registerForm.get('validSmartTag').hasError('maxlength') && registerForm.get('validSmartTag').touched" class="invalid-feedback">
                Máximo de <strong>40 caracteres</strong>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label for="">PLC Descrição</label>
              <input type="text" class="form-control" formControlName="plcDesc"
              [ngClass]="{'is-invalid': registerForm.get('plcDesc').errors && registerForm.get('plcDesc').touched}" />
              <div *ngIf="registerForm.get('plcDesc').hasError('required')" class="invalid-feedback">
                A descrição do PLC <strong>é obrigatória</strong>
              </div>
              <div *ngIf="registerForm.get('plcDesc').hasError('minlength') && registerForm.get('plcDesc').touched" class="invalid-feedback">
                Mínimo de <strong>2 caracteres</strong>
              </div>
              <div *ngIf="registerForm.get('plcDesc').hasError('maxlength') && registerForm.get('plcDesc').touched" class="invalid-feedback">
                Máximo de <strong>45 caracteres</strong>
              </div>
            </div>
            
            <div class="form-group col-md-2">
              <label for="">Abrev. PLC</label>
              <input type="text" class="form-control" formControlName="abrevPLC" [(ngModel)] = "deviceIGS.abvPlc"
              [ngClass]="{'is-invalid': registerForm.get('abrevPLC').errors && registerForm.get('abrevPLC').touched}" (focusout)="validIGS()"/>
              <div *ngIf="registerForm.get('abrevPLC').hasError('required')" class="invalid-feedback">
                A abreviação do PLC <strong>é obrigatória</strong>
              </div>
              <div *ngIf="registerForm.get('abrevPLC').hasError('maxlength') && registerForm.get('abrevPLC').touched" class="invalid-feedback">
                Máximo de <strong>5 caracteres</strong>
              </div>
            </div>

            <div class="form-group col-md-2">
              <label for="">IP</label>
              <input type="text" class="form-control"  formControlName="ip"
              [ngClass]="{'is-invalid': registerForm.get('ip').errors && registerForm.get('ip').touched}">
              <div *ngIf="registerForm.get('ip').hasError('required')" class="invalid-feedback">
                O endereço de IP <strong>é obrigatório</strong>
              </div>
              <div *ngIf="registerForm.get('ip').hasError('pattern') && registerForm.get('ip').touched" class="invalid-feedback">
                Formato incorreto, <strong>ex: 192.168.0.1</strong>
              </div>
            </div>
            <div class="form-group col-md-2">
              <label for="">T. Variável</label>            
              <select class="form-control" formControlName="tipoVariavelId"          
                [ngClass]="{'is-invalid': registerForm.get('tipoVariavelId').errors && registerForm.get('tipoVariavelId').touched}"
                >
                <option *ngFor="let tp of tipoVariaveis" value="{{tp.id}}" >
                  {{tp.descricao}}
                </option>            
              </select>
              <div *ngIf="registerForm.get('plcDesc').hasError('required')" class="invalid-feedback">
                O tipo <strong>é obrigatório</strong>
              </div>
            </div>
          </div>
      
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="">End. PLC Confirmado</label>
              <input type="text" class="form-control" formControlName="enderecoPLC"
              [ngClass]="{'is-invalid': registerForm.get('enderecoPLC').errors && registerForm.get('enderecoPLC').touched}">
              <div *ngIf="registerForm.get('enderecoPLC').hasError('maxlength') && registerForm.get('enderecoPLC').touched" class="invalid-feedback">
                Máximo de <strong>65 caracteres</strong>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="">Device IGS</label>
              <input type="text"  class="form-control" formControlName="deviceIGS"
              [ngClass]="{'is-invalid': registerForm.get('deviceIGS').errors && registerForm.get('deviceIGS').touched}" 
              (focusout)="formataCanalIGS()">
              <div *ngIf="registerForm.get('deviceIGS').hasError('required')" class="invalid-feedback">
                O device IGS <strong>é obrigatório</strong>
              </div>
              <div *ngIf="registerForm.get('deviceIGS').hasError('minlength') && registerForm.get('deviceIGS').touched" class="invalid-feedback">
                Mínimo de <strong>2 caracteres</strong>
              </div>
              <div *ngIf="registerForm.get('deviceIGS').hasError('maxlength') && registerForm.get('deviceIGS').touched" class="invalid-feedback">
                Máximo de <strong>45 caracteres</strong>
              </div>
            </div>
            
          </div>
      
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="">Canal IGS</label>
              <input type="text" class="form-control txtFullData" formControlName="canalIGS"
              [ngClass]="{'is-invalid': registerForm.get('canalIGS').errors && registerForm.get('canalIGS').touched}"readonly>
              <div *ngIf="registerForm.get('canalIGS').hasError('required')" class="invalid-feedback" >
                O canal IGS <strong>é obrigatório</strong>
              </div>
              <div *ngIf="registerForm.get('canalIGS').hasError('minlength') && registerForm.get('canalIGS').touched" class="invalid-feedback">
                Mínimo de <strong>2 caracteres</strong>
              </div>
              <div *ngIf="registerForm.get('canalIGS').hasError('maxlength') && registerForm.get('canalIGS').touched" class="invalid-feedback">
                Máximo de <strong>55 caracteres</strong>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="">Pasta</label>
              <input type="text" class="form-control" formControlName="pasta"
              [ngClass]="{'is-invalid': registerForm.get('pasta').errors && registerForm.get('pasta').touched}">
              <div *ngIf="registerForm.get('pasta').hasError('required')" class="invalid-feedback">
                Pasta <strong>é obrigatório</strong>
              </div>
              <div *ngIf="registerForm.get('pasta').hasError('minlength') && registerForm.get('pasta').touched" class="invalid-feedback">
                Mínimo de <strong>1 caracteres</strong>
              </div>
              <div *ngIf="registerForm.get('pasta').hasError('maxlength') && registerForm.get('pasta').touched" class="invalid-feedback">
                Máximo de <strong>5 caracteres</strong>
              </div>
            </div>
          </div>
      
          <div class="form-row">

            <div class="form-group col-md-2">
              <label for="">FLAG TAG IGS</label>            
              <select class="form-control" formControlName="flagTAGIGS" 
              (change)="validTAGIGS($event)"
                >
                <option *ngFor="let tp of tipoVariaveis" value="{{tp.id}}" >
                  {{tp.descricao}}
                </option>            
              </select>
            </div>

            <div class="form-group col-md-8">
              <label for="">TAG IGS</label>
              <input type="text" class="form-control" formControlName="tagIGS"
              [ngClass]="{'is-invalid': registerForm.get('tagIGS').errors && registerForm.get('tagIGS').touched}" (focusout)="formataEndOpcFull()" >
              <div *ngIf="registerForm.get('tagIGS').hasError('maxlength') && registerForm.get('tagIGS').touched" class="invalid-feedback">
                Máximo de <strong>55 caracteres</strong>
              </div>
            </div>
          </div>
      
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="">Endereço OPC Completo</label>
              <textarea class="form-control txtFullData" cols="10" rows="2" readonly formControlName="enderecoOPCFull"
              [ngClass]="{'is-invalid': registerForm.get('enderecoOPCFull').errors && registerForm.get('enderecoOPCFull').touched}"
              ></textarea>
              <div *ngIf="registerForm.get('enderecoOPCFull').hasError('required')" class="invalid-feedback">
                Endereço OPC Completo <strong>é obrigatório</strong>
              </div>
              <div *ngIf="registerForm.get('enderecoOPCFull').hasError('minlength') && registerForm.get('enderecoOPCFull').touched" class="invalid-feedback">
                Mínimo de  <strong>5 caracteres</strong>
              </div>
              <div *ngIf="registerForm.get('enderecoOPCFull').hasError('maxlength') && registerForm.get('enderecoOPCFull').touched" class="invalid-feedback">
                Máximo de  <strong>200 caracteres</strong>
              </div>
            </div>
          </div>
        </form>     
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="salvarAlteracao()">
          <mat-icon>sd_storage</mat-icon>Salvar Alterações
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>

<div bsModal #templateConfig="bs-modal" class="modal fade" tabindex="-1"
  role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">Dados Configuracao</h4>
      <button type="button" class="close pull-right" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="table-container">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar Dados">
        </mat-form-field>

        <mat-table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let cfg">{{cfg.id}}</td>
          </ng-container>

          <ng-container matColumnDef="planta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Planta</th>
            <td mat-cell *matCellDef="let cfg">{{cfg.planta}}</td>
          </ng-container>

          <ng-container matColumnDef="linha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Linha</th>
            <td mat-cell *matCellDef="let cfg">{{cfg.linha}}</td>
          </ng-container>

          <ng-container matColumnDef="plantaReduzida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>P.reduzida</th>
            <td mat-cell *matCellDef="let cfg">{{cfg.plantaReduzida}}</td>
          </ng-container>

          <ng-container matColumnDef="opcoes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Opções</th>
            <td mat-cell *matCellDef="let cfg">
              <button mat-raised-button color="primary" tooltip="Selectionar" (click)="dadosSelecionadoConf(cfg)"><mat-icon>create</mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary">
        Fechar
      </button>
    </div>
  </div>
</div>
